/* This file contains customisations for bulma
 * As per Bulma documentation, this needs to be before bulma is imported.
 * So bulma import is done at the end of this file
 */

/* 1. Import the initial bulma variables */
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

/* add custom things here */
$body-background-color: #252525;
$text: $white-ter; /* dark them requires whiter text */
$input-background-color: $grey-darker;
$input-color: $white-ter;
$input-border-color: transparent;
$input-hover-border-color: transparent;
$label-color: $grey-light;

/* Table Styling */
$table-background-color: #343538;
$table-color: $white-ter;
$table-striped-row-even-background-color: #363739;
$table-striped-row-even-hover-background-color: #454545;
$table-head-cell-color: $grey-light;
$table-cell-border: solid 1px #252525;

/* add the rest of bulma */
@import 'bulma'